﻿@model TItaPR.Models.Entity.Vector

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alternative.AName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alternative.AName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark.MName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark.MName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
