﻿@model IEnumerable<TItaPR.Models.Entity.Vector>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alternative.AName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mark.MName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alternative.AName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mark.MName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.VNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.VNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VNum })*@
        </td>
    </tr>
}

</table>
