﻿@using TItaPR.Models.ViewModels;
@model ICollection<ElectionsViewModel>
@{
    ViewBag.Title = "Election";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<hr />
<table class="table table-condensed">
    <thead class="thead-default">
        <tr>
            <th>
                Number #
            </th>
            <th>
                Alternative
            </th>
        </tr>
    </thead>
    @foreach (var element in Model)
    {
            <tr class="table-info">
                <td>
                    @element.Position
                </td>
                <td>
                    @element.Alternative.AName<br />
                </td>
            </tr>
    }
</table>