﻿@model IEnumerable<TItaPR.Models.Entity.Result>

@{
    ViewBag.Title = "ShowResults";
}

<h2>ShowResults</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alternative.AName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LPR.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Range)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AWeight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alternative.AName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LPR.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Range)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AWeight)
        </td>
        <td>
        </td>
    </tr>
}

</table>
