﻿@model TItaPR.Models.ViewModels.MarkAddingFormViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AddMarkViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="alternatives" class="control-label col-md-2">Альтернатива</label>
            <div class="col-md-10">
                <select class="form-control" id="alternatives" name="ANum">
                    @foreach (var alt in Model.Alternatives)
                    {
                        <option value="@alt.ANum">@alt.AName</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="criterions" class="control-label col-md-2">Критерий</label>
            <div class="col-md-10">
                <select class="form-control" id="criterions" name="CNum">
                    @foreach (var criterion in Model.Criterions)
                    {
                        <option value="@criterion.CNum">@criterion.CName</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="MName" class="control-label col-md-2">Название</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="MName" name="MName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="NumMark" class="control-label col-md-2">Оценка</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="NumMark" name="NumMark"/>
            </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
