﻿@model TItaPR.Models.Entity.Mark

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormMark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
