﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Users", "Index", "LPRs", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (@Session["CurrentUserName"] != null)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Alternatives", "Index", "Alternatives")</li>
                        <li>@Html.ActionLink("Criterials", "Index", "Criteria")</li>
                        <li>@Html.ActionLink("Marks", "Index", "Marks")</li>
                        <li>@Html.ActionLink("Results", "ShowResults", "Home")</li>
                        <li>@Html.ActionLink("Vectors", "Index", "Vectors")</li>
                        <li>@Html.ActionLink("MaxMinMethod", "MaxMinMethod", "Home")</li>
                        <li>@Html.ActionLink("Election", "About", "Home")</li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink(@Session["CurrentUserName"].ToString(), "Index", "LPRs")
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
