﻿@model IEnumerable<TItaPR.Models.Entity.Criterion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Критерии</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptimType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdIzmer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScaleType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptimType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EdIzmer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScaleType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.CNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CNum })
        </td>
    </tr>
}

</table>
