﻿@model TItaPR.Models.Entity.LPR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LPR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LRange)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
