﻿@model IEnumerable<TItaPR.Models.Entity.LPR>

@{
    ViewBag.Title = "Index";
}

<h2>Пользователи</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LRange)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LRange)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.LNum }) |
            @Html.ActionLink("Выбрать", "SelectUser", "LPRs", new { userId=item.LNum }, null) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.LNum })
        </td>
    </tr>
}

</table>
